.container {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
}

.os-info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.os-info p {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.os-info p:last-child {
    border-bottom: none; /* Remove a borda inferior da última linha */
}

.os-info strong {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
